<!DOCTYPE html>
<html>
    <head>
        <title>{{ .title }}</title>
        <link rel="stylesheet" href="/static/src/style.css">
    </head>
    <body>
        <p>Wellcome {{ .name }}</p>
    </body>
</html>